<div class="padding-global lh_section_layout" style="{% if section.settings.bg_color != blank %}--lh-sec-bg: {{ section.settings.bg_color }};{% endif %}--lh-sec-pt: {{ section.settings.padding_top }}px;--lh-sec-pb: {{ section.settings.padding_bottom }}px;--lh-sec-px: {{ section.settings.padding_x }}px;"><div class="container-large"><div li-object="section.settings.custom_liquid">{{ section.settings.custom_liquid }}</div></div></div> {% schema %} {
    "tag": "section",
    "name": "Custom Liquid",
    "class": "section_custom-liquid",
    "settings": [
        {
            "type": "header",
            "content": "Inhalt und Layout"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Hintergrundfarbe",
            "default": "#ffffff"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "Abstand oben",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "Abstand unten",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_x",
            "min": 0,
            "max": 120,
            "step": 4,
            "unit": "px",
            "label": "Abstand links\/rechts",
            "default": 60
        },
        {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom Liquid"
        }
    ],
    "presets": [
        {
            "name": "Custom Liquid",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}